@import "tailwindcss";

@theme {
    --color-primary: #0F172A;
    --color-accent: #D97706;
    --color-background: #FFFFFF;
    --color-canvas: #F1F5F9;
    --color-text-main: #1E293B;
    --color-text-secondary: #64748B;

    --font-sans: 'Inter', 'Roboto', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}